<header>
	<!-- navbar -->
	<nav class="navbar bg-primary">
		<a class="navbar-brand" href="/">
			<img src="https://i.imgur.com/SH2CsNV.png">
		</a>
	</nav>
	<div class="nav_size">
		<ul class="nav nav-pills nav-fill bg-primary">
			<li class="nav-item">
				<a class="nav-link active nav_link_size" href="\">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active nav_link_size" href="\about-us">About Us</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active nav_link_size" href="\catalog">Catalogue</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active nav_link_size" href="\request-quote">Request Quote</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active nav_link_size" href="\cart">Shopping Cart</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active nav_link_size" href="\contact-us">Contact Us</a>
			</li>
		</ul>
	</div>
</header>