<header>
	<!-- navbar -->
	<nav class="navbar bg-primary px-1 py-1">
		<a class="navbar-brand mx-1" href="/">
			<img src="/images/logo.png">
		</a>
		<div class="justify-content-right">
			<a class="navbar-brand mt-0 pt-0" id="icon"
				<% if(login ) { %>
					href="/users/profile"
				<% } else { %>
					href="/users/login"
				<% } %>
			>
				<img src="/images/profile.png">
			</a>
			<a class="navbar-brand mt-0 pt-0 mr-1" href="/cart" id="icon">
				<img src="/images/cart.png">
			</a>
		</div>
	</nav>
	
	<div class="nav_size">
		<ul class="nav nav-pills nav-fill bg-primary">
			<li class="nav-item">
				<a class="nav-link active nav_link_size" href="\">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active nav_link_size" href="\about-us">About Us</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active nav_link_size" href="\catalog">Catalogue</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active nav_link_size" href="\request-quote">Request Quote</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active nav_link_size" href="\contact-us">Contact Us</a>
			</li>
		</ul>
	</div>
</header>