<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/home.css">
    <link rel="stylesheet" href="../public/stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="navbar-header">

        <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
            <img style="max-width:300px; margin-top: -7px;" src="logo.png">

        </a>
        <span id="massage4"></span>
        <a class="navbar-brand" href="#">Search</a>
        <a class="navbar-brand" href="#">My account</a>
        <a class="navbar-brand" href="#">Cart</a>



    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <span id="massage"></span>
                <a class="navbar-brand" href="#">CATALOGUE</a>
                <span id="massage2"></span>
                <a class="navbar-brand" href="#">TECHOLOGY</a>
                <span id="massage3"></span>
                <a class="navbar-brand" href="#">CONTACT US</a>
            </div>
        </div>
    </nav>

    <div id="container">
        <div class="square">
            <img src="http://www.filtracon.com/fileadmin/_processed_/csm_FILTRACON_Reference_multi-bag_dust_collector_0a12bfe46a.jpg">
        </div>
        <div class="square">
            <img src="http://www.filtracon.com/fileadmin/_processed_/csm_FILTRACON_Reference_multi-bag_dust_collector_0a12bfe46a.jpg">
        </div>
        <div class="square">
            <img src="http://www.filtracon.com/fileadmin/_processed_/csm_FILTRACON_Reference_multi-bag_dust_collector_0a12bfe46a.jpg">
        </div>
        <div class="square">
            <img src="http://www.filtracon.com/fileadmin/_processed_/csm_FILTRACON_Reference_multi-bag_dust_collector_0a12bfe46a.jpg">
        </div>
        <div class="square">
            <img src="http://www.filtracon.com/fileadmin/_processed_/csm_FILTRACON_Reference_multi-bag_dust_collector_0a12bfe46a.jpg">
        </div>
        <div class="square">
            <img src="http://www.filtracon.com/fileadmin/_processed_/csm_FILTRACON_Reference_multi-bag_dust_collector_0a12bfe46a.jpg">
        </div>
    </div>




    <div class="content">
    </div>
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 myCols">
                    <h5>Get started</h5>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Sign up</a>
                        </li>
                        <li>
                            <a href="#">Downloads</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>About us</h5>
                    <ul>
                        <li>
                            <a href="#">Company Information</a>
                        </li>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                        <li>
                            <a href="#">Reviews</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Support</h5>
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Help desk</a>
                        </li>
                        <li>
                            <a href="#">Forums</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Legal</h5>
                    <ul>
                        <li>
                            <a href="#">Terms of Service</a>
                        </li>
                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="social-networks">
            <a href="#" class="twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="facebook">
                <i class="fa fa-facebook-official"></i>
            </a>
            <a href="#" class="google">
                <i class="fa fa-google-plus"></i>
            </a>
        </div>
        <div class="footer-copyright">
            <p>© 2018 Copyright Text </p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>