<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple Shopping Cart</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <% if (products != null) { %>
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <ul class="list-group">
            <% products.forEach(function(product) { %>
            <li class="list-group-item">
              <span class="badge"><%= product.quantity %></span>
              <strong><%= product.item.title %></strong>
              <span class="label label-success"><%= product.price %></span>
              <div class="btn-group">
                  <a class="dropdown-item" href="#">Reduce by 1</a>
                  <a class="dropdown-item" href="#">Remove All</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <% }) %>
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <strong>Total Price: $<%= totalPrice %></strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <a href="/simplecheckout" type="button" class="btn btn-success">Checkout</a>
        </div>
      </div>
      <% } else { %>
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <h2>No Items in Cart</h2>
        </div>
      </div> 
      <% } %>
    </div>
</body>
</html>