<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular App</title>
</head>

<body>
  <h1>Angular Test</h1>
  <div ng-app="module">
    <cart> </cart>
  </div>

  <script src="./lib/angular/angular.min.js"></script>
  <script src="./app/cart.component.js"></script>
  <script src="./app/cart.controller.js"></script>
</body>

</html>