body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  /* border: solid black 1px; */
}

.navbar, .footer {
  background-color: deepskyblue;
  color: white;
  padding: 20px;
}

.selection {
  float: left;
  background-color: lightgrey;
  padding: 10px;
  margin: 10px;
  clear: both;
  width: 300px;
}

div.search {
  background-color: white;
}

button.icon {
  float: left;
  top: 50%;
  background-color: transparent;
  width: 30px;
}
button {
  padding: 0;
  border: none
}

.product a {
  text-align: center;
  margin-bottom: 5px;
  padding-top: 5px;
  display: block;
  height: 30px;
  width: 300px;
  background-color: #00aeef;
  color: white;

}

.search input#searchbar{
  border: none;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.product-listing {
  margin-left: 350px;
  padding: 10px
}

#myFooter {
	background-color: #00aeef;
	color:white;
	height: 20%;

}

#myFooter .footer-copyright{
	background-color: #00aeef;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	
	
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */


html{
	height: 100% !important;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}
.content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	
}


#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;

}
.bg-primary {
    background-color: #00aeef !important;
}