<!DOCTYPE html>
<html lang="en">
<head>
    <title>SignUp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style type="text/css">
  body{
    padding: 50px;
  }
  .form-width{
    width:300px;
  }

  </style>
</head>
<body>
    
    <% if (message.danger) { %>
        <div class="alert alert-danger" role="alert">
          <%=message.danger%>
        </div>
      <% } %>
      <div class="container">      
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
      <h1>User Sign Up</h1>
      <form role="form" action="/users/signup" method="post">
      
        <div class="form-group">
          <label for="email" >Email address</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Valid email address" >
        </div>
      
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" >
        </div>
    
        <div class="form-group">
            <label for="confirm_password">Re-enter Password</label>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Password_Confirm" >
        </div>
      
        <button type="submit" class="btn btn-primary">Sign Up</button> Or <a href="/users/login">Sign in</a>
      </form>
    </div>
    <div class="col-md-4"></div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
</body>
</html>
