<!DOCTYPE html>
<html lang="en">

<head>
  <title>SignUp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/navbar.css">
  <style type="text/css">
    .form-width {
      width: 300px;
    }
  </style>
  <script>
    var app = angular.module('myApp', []);
    app.controller('registerCtrl', function($scope) {
    });
  </script>
</head>

<%- include('../partials/header') %>

<body>
  <% if (message.danger) { %>
    <div class="alert alert-danger" role="alert">
      <%=message.danger%>
    </div>
  <% } %>
  <div class="container mt-5 mb-3" ng-app="myApp" ng-controller="registerCtrl">
    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <h1>User Sign Up</h1>
        <form  name="registerForm" role="form" action="/users/signup" method="post">

          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Valid email address" ng-model="email" required>
            <p>
                <span style="color: red" ng-show=" registerForm.email.$invalid">
                    <span ng-show="registerForm.email.$error.required">*Please input email</span> <span
                    ng-show="registerForm.email.$error.email">*Please use the correct email</span>
                </span>
            </p>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" ng-model="password" ng-minlength="6" ng-maxlength="20" required>
            <p>
                <span style="color: red" ng-show="registerForm.password.$invalid">
                    <span ng-show="registerForm.password.$error.minlength">*Password less than 6 digits</span>
                    <span ng-show="registerForm.password.$error.maxlength">*Password should be less than 20 digits</span>
                </span>
            </p>
          </div>

          <div class="form-group">
            <label for="confirm_password">Re-enter Password</label>
            <input type="password" id="confirm_password" name="repassword" class="form-control" placeholder="Confirm Password" ng-model="repassword" required>
            <p>
            <span style="color: red" ng-show="registerForm.password.$valid">
                <span ng-show="repassword!=password">*PassWord Mismatch</span>
            </span>
          </p>
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="registerForm.email.$invalid || registerForm.password.$invalid || repassword!=password">Sign Up</button> Or
          <a href="/users/login">Sign in</a>
        </form>
      </div>
    </div>
  </div>
</body>

<%- include('../partials/footer') %>

  <!-- Scripts -->
  
  <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>