<h1>Shopping Cart</h1>
<h4 ng-show="!$ctrl.cart.price">No items in cart, would you like to browse the
  <a href="/catalog">catalog?</a>
</h4>
<div ng-show="$ctrl.cart.price" class="row">
  <div class="col-sm-8">
    <table class="table order">
      <thead class="table-secondary">
        <th scope="col">Items</th>
        <th scope="col"></th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Remove from cart</th>
      </thead>
      <tbody>
        <tr ng-repeat="product in $ctrl.cart.items">
          <td class="align-middle">
            <img src="/images/{{ product.item.series }}.jpg" width="75px" height="75px">
          </td>
          <td class="align-middle">
            <p><strong>{{ product.item.title }}</strong><br>{{ product.item.model }}</p>
          </td>
          <td class="align-middle">
            <input type="number" min="1" max="999" ng-model="product.quantity">
          </td>
          <td style="text-align: center" class="align-middle">
            ${{ product.item.pricing.retail }} ea.
          </td>
          <td style="text-align: center" class="align-middle">
            ${{ product.quantity * product.item.pricing.retail }}
          </td>
          <td class="align-middle" style="text-align: right">
            <button class="btn-danger btn" ng-click="$ctrl.remove(product.item._id)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-secondary" ng-click="$ctrl.update()">Update Cart</button>
  </div>
  <div class="col-md-4">
    <table class="table table-sm">
      <tr class="table-secondary">
        <th colspan="2">Order Summary</th>
      </tr>
      <tr>
        <td>Subtotal</td>
        <td>${{ $ctrl.cart.price }}</td>
      </tr>
      <tr>
        <td>Estimated Shipping</td>
        <td>${{ ($ctrl.cart.price * 0.15).toFixed(2) }}</td>
      </tr>
      <tr>
        <td>Sales Tax</td>
        <td>${{ ($ctrl.cart.price * 0.0875).toFixed(2) }}</td>
      </tr>
      <tr class="div-order-total">
        <td>Total</td>
        <td>${{ ($ctrl.cart.price * 1.2375).toFixed(2) }}</td>
      </tr>
      <tr style="align-content: right;">
        <td colspan="2" style="text-align: right;">
          <a href="/checkout" class="btn btn-primary">Checkout for ${{ ($ctrl.cart.price * 1.2375).toFixed(2) }}</a>
        </td>
      </tr>
    </table>
  </div>
</div>